.flexbox-container{
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0%;
}

body{
    margin-top: 60px;
    
}
h2 {
    color: grey;
    background-color:gray;
    color: rgb(156, 154, 154);
    width: 70%;
  margin: 10px 80px 10px;
    text-align: center;
    border-bottom: 1px solid rgb(122, 120, 120);
    line-height: 0em;
  } 
 
 h2 span { 
     background:#fff; 
     font-size: 18px;
     padding: 0 10px;
 }
 #create{
  width: 70%;
  margin: 10px 80px 10px;
 }
 .inputs{
    margin-left: 40%;
    padding-bottom: 0.5px;
 }
 .signin{
   margin-right: 0px;
 }
form{
    display: block;
    margin-left: 20px;
}
 #email {
    margin-bottom: 20px;
    margin-top: 10px;
 }

 #password{
    margin-bottom: 20px;
    margin-top: 10px;
 }

 .forgot{
    padding-left: 90px;
 }

 .pass{
    margin-left: 40px;
 }
 
 input[type="email"], input[type="password"]{
    width: 300px;
 }
 .inputs{
   background-color: white;
   border: 1px solid lightgray;
   height: 30px;
   width: 400px;
   padding: 5px;
 }

 #continue{
    width: 300px;
    margin: 2px;
    min-height: 25px;
    background-color: rgb(255, 204, 0);
 }

 ul {
    padding: 0 1em;
    list-style: none;
  }
  li::before { 
    content: "";
    border-color: transparent rgb(104, 99, 240);
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
  }

  hr{
    margin-top: 100px;
    width: 100%;
    
  }

  .footer-link{
    margin-left: 400px;
  }
  .footer-a{
    padding: 5px;
  }
  footer{
    min-height: auto;
    margin: 0%;
    padding: 5px;
    left: 0%;
    top: 120%;
    width: 100%;
    background-color: white;
    text-align: center;
  }

  .flexbox-item-1{
   border: 1px solid lightgray;
   padding: 25px;
  }

  .flexbox-item-2{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: auto;
}
